@using stopcovid.Models
@page "/actualitéscovid-19"
<h1>Dernières mises à jour du Covid-19</h1>
@inject HttpClient Http
<p> Cette page vous permet d'avoir les dernières mises à jour du virus covid-19 au maroc </p>

@if (actualiteCovid == null)
{
    <p><em>Veuillez patienter, chargement des donees...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Actualitedujour</th>
                <th>Provenance</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var actualitecovid in actualiteCovid)
            {
                <tr>
                    <td>@actualitecovid.Date.ToShortDateString()</td>
                    <td>@actualitecovid.Actualitedujour</td>
                    <td> <a href="@actualitecovid.Provenance">@actualitecovid.Provenance</a>  </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
   
    private ActualiteCovid[] actualiteCovid;

    protected override async Task OnInitializedAsync()
    {
        actualiteCovid = await Http.GetFromJsonAsync<ActualiteCovid[]>("sample-data/actu.json");
        actualiteCovid = actualiteCovid.OrderByDescending(x => x.Date).ToArray();    
    }

    
}
