@page "/"

<html>
<head>
<style>
h1 {
  color: red;
  font-family: verdana;
  font-size: 300%;

}
p  {
  color: bleu;
  font-family: Bell MT %;
  font-size: 160%;
}



</style>
</head>
<body>

<h1>STOP COVID</h1>
<p>Bievenue dans votre application STOP COVID qui vous permet de connaitre toutes les actualités du jour cocernant le Covid-19 au Maroc, ainsi les cas confirmés par région, les morts les guérisons les cas cofirmés au maroc depuis le debut de l'épidime au pays, cette application trace aussi les personnes positifs au Covid-19 et vous donne des précautions et les mesures nécessaires pour etre toujours attentives face cette épidimie.</p>
<img src="img_covid.jpg" alt="corona virus" width="460" height="345">

</body>
</html>