@using stopcovid.Models
@using System.Linq
@page "/statistiquescovid-19"
<h1>Derniers nouvelle du covid-19</h1>
@inject HttpClient Http
<p> Cette page vous permet d'avoir les statistiques du virus covid-19 au maroc par région  </p>

@if (covidStats == null)
{
    <p><em>Veuillez patienter, chargement des donees...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Cas</th>
                <th>Morts</th>
                <th>Guerison</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var covidstat in covidStats)
            {
                <tr>
                    <td>@covidstat.Date.ToShortDateString()</td>
                    <td>@covidstat.Cas</td>
                    <td>@covidstat.Morts</td>
                    <td>@covidstat.Guerisons</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private CovidStat[] covidStats;

    protected override async Task OnInitializedAsync()
    {
        covidStats = await Http.GetFromJsonAsync<CovidStat[]>("sample-data/stat.json");
        covidStats = covidStats.OrderByDescending(c => c.Date).ToArray();
    }

    
    
}
