<html>
<body>

<h1>The select element</h1>

<p>Choisissez la région ou  vous souhaitiez partir.</p>

<form action="/action_page.php">
  <label for="région">Choisissez une région:</label>
  <select name="région" id="région">
    <option value="Casablanca-Settat">Casablanca-Settat</option>
    <option value="Béni Mellal-Khénifra">Béni Mellal-Khénifra</option>
    <option value="Marrakech-Safi">Marrakech-Safi</option>
      <option value="Rabat-Salé-Kénitra">Rabat-Salé-Kénitra</option>
      <option value="Fès-Meknès">Fès-Meknès</option>
      <option value="Tanger-Tétouan-Al Hoceïma">Tanger-Tétouan-Al Hoceïma</option>
      <option value="Drâa-Tafilalet">Drâa-Tafilalet</option>
      <option value="Souss-Massa">Souss-Massa</option>
      <option value="Oriental">Oriental</option>
      <option value="Dakhla-Oued Ed Dahab">Dakhla-Oued Ed Dahab</option>
      <option value="Laâyoune-Sakia El Hamra">Laâyoune-Sakia El Hamra</option>
      <option value="Guelmim-Oued Noun">Guelmim-Oued Noun</option>
    
  </select>
  <br><br>
  <input type="Soumettre" value="Soumettre">
</form>

<p>Cliquer sur Soumettre "Soumettre" button and the form-data will be sent to a page on the 
server called "action_page.php".</p>

</body>
</html>
